:root {
  --rich-black-fogra-29: #0d1b2aff;
  --oxford-blue: #1b263bff;
  --bdazzled-blue: #415a77ff;
  --shadow-blue: #778da9ff;
  --platinum: #e0e1ddff;
  --gray: #6c757d;
}

.wrapperproducts {
  background: var(--bdazzled-blue);
  min-height: 100vh;
}

.outofstock {
  filter: grayscale(100%);
}

.product-title {
  height: 30vh;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 3em;
  text-shadow: 4px 4px 2px #000;
  color: var(--platinum);
  font-family: "Bebas Neue", sans-serif;
  padding-bottom: 5vh;
  background: var(--gray);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0% 85%);
}

main {
  display: grid;
  grid-template-columns: repeat(24, minmax(auto, 60px));
  grid-gap: 40px;
  padding: 2%;
  padding-bottom: 5%;
  background: var(--bdazzled-blue);
}

.cards {
  grid-column: 2 / span 24;
  display: grid;
  grid-template-columns: repeat(24, minmax(auto, 60px));
  grid-gap: 40px;
}

.text--medium {
  font-size: 1em;
  line-height: 20px;
  font-weight: 400px;
  color: var(--platinum);
  background: var(--gray);
  font-family: "Poppins", sans-serif;
}

/*CARDS*/

.card {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 1);
  grid-column-end: span 6;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background: var(--gray);
}

.card_image-container {
  width: 100%;
  padding-top: 100%;
  object-fit: contain;
  overflow: hidden;
  position: relative;
  background: var(--gray);
}

.card_image-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--gray);
}

.card_content {
  background: var(--gray);
  padding: 30px;
  height: 100%;
}

.card_title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  background: var(--gray);
}

.card_info {
  display: flex;
  align-self: end;
  align-items: center;
  color: var(--platinum);
  background: var(--gray);
}

.card_button {
  font-family: "Poppins", sans-serif;
  background: var(--platinum);
  border: 2px solid var(--rich-black-fogra-29);
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.75em 1em;
  transition: 0.4s ease-in-out;
  position: absolute;
  right: 1em;
  bottom: 1em;
  color: var(--rich-black-fogra-29);
}

.wishlist {
  position: absolute;
  top: 1em;
  right: 1em;
  text-decoration: none;
  transition: 0.5s;
}

.wishlist:hover {
  text-decoration: none;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.card_button:hover {
  background: var(--rich-black-fogra-29);
  color: var(--platinum);
}

@media only screen and (max-width: 1000px) {
  .product-title {
    height: 50vh;
  }
  main {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }

  .card {
    grid-column-end: span 6;
  }

  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
}

@media only screen and (min-width: 2560px) {
  main {
    padding-left: 3.5%;
  }
}

@media only screen and (max-width: 700px) {
  main {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }

  .card {
    grid-column-end: span 6;
  }

  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 500px) {
  main {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }

  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }

  .card {
    grid-column-end: span 6;
  }
}
