:root {
  --rich-black-fogra-29: #0d1b2aff;
  --oxford-blue: #1b263bff;
  --bdazzled-blue: #415a77ff;
  --shadow-blue: #778da9ff;
  --platinum: #e0e1ddff;
}

.checked {
  color: orange;
}

.rating span {
  padding-top: 7.5%;
  font-size: 2vmax;
}

input {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 60rem;
  min-height: 30rem;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  border-radius: 0.8rem;
  position: relative;
}

.wishlist button {
  position: absolute;
  top: 0.3em;
  left: 0em;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-area {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.8rem 0 0 0.8rem;
}

.floating-div {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  align-items: center;
  box-sizing: border-box;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(3%);
  }
}

.image-1 {
  position: absolute;
  width: 95%;
}

.image-area img {
  width: 100%;
  opacity: 1;
}

.text-area {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0 0.8rem 0.8rem 0;
  text-align: right;
  font-family: "Poppins", sans-serif;
  background-image: radial-gradient(
    ellipse farthest-corner at center top,
    #fff 0%,
    #ccc 100%
  );
}

.text-area .heading-area {
  padding: 1rem;
}

.heading-area h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  font-size: 3.5rem;
}

.heading-area h4 {
  margin: 0.25rem 0 0 0;
}

.heading-area h5 {
  padding-top: 0.5rem;
}

.paragraph-area {
  margin: 1.5rem 1rem 1.5rem 2rem;
  font-size: 1.1rem;
}

.ratings {
  padding: 1rem;
}

.price-and-buy {
  padding: 0.5rem 1rem;
  flex-direction: column;
  row-gap: 0.8rem;
  align-items: center;
}

.price-1 {
  font-weight: 800;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.update-cart {
  padding: 1em;
  font-size: 1rem;
  border-radius: 2rem;
  border: none;
  color: whitesmoke;
  font-weight: 600;
  cursor: pointer;
}

.text-area .heading-area h2 {
  color: var(--rich-black-fogra-29);
}

.text-area .price-and-buy .price-1 {
  color: var(--shadow-blue);
}

.update-cart {
  background-color: var(--oxford-blue);
}

.image-area {
  background-color: WHITE;
}

.reviews {
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: #000;
  display: flex;
  flex-direction: column;
}

.reviews a {
  font-size: 1rem;
  padding: 0.5vh 0;
  display: inline-block;
  font-weight: bold;
  color: #f15025;
  text-decoration: none;
  position: relative;
}

.reviews a::after {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  border-bottom: 1px solid;
  transition: left 500ms, right 500ms;
}

.reviews a:hover::after {
  left: 0;
  right: 0;
}

@media screen and (max-width: 62.5rem) {
  .container {
    padding: 1rem;
  }

  .card-container {
    display: flex;
    flex-direction: column;
  }

  .image-area {
    width: 100%;
    height: 70vw;
    padding: 1rem 0;
    border-radius: 0.8rem 0.8rem 0 0;
  }

  .image-1 {
    position: absolute;
  }

  .image-1 {
    width: 70%;
    margin: 1rem 0;
  }

  .logo-div img {
    width: 40%;
  }

  .text-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0 0 0.8rem 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .text-area {
    text-align: center;
  }

  .paragraph-area {
    font-size: 0.8rem;
  }

  .paragraph-area,
  .color-selection {
    margin: 0.5rem;
  }
}

.reco-wrapper {
  margin: 0px;
  padding: 0px;
  background-color: #ccd6dd;
  position: relative;
  min-height: 100vh;
  width: 100vw;
}

.reco-wrapper a {
  text-decoration: none;
}

.box {
  width: 300px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: var(--platinum);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 25px;
}

.slide-img {
  height: 450px;
  background: #fff;
  display: grid;
  place-items: center;
}

.slide-img img {
  width: 275px;
  height: 275px;
  object-fit: contain;
  box-sizing: border-box;
  animation: float2 6s ease-in-out infinite;
}

@keyframes float2 {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(10%);
  }
}

.detail-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.type a {
  color: #222222;
  margin: 5px 0px;
  font-weight: 700;
  letter-spacing: 0.5px;
  padding-right: 8px;
  font-size: 1.1em;
}

.type span {
  color: rgba(26, 26, 26, 0.5);
  font-size: 0.8rem;
}

.price {
  color: var(--shadow-blue);
  font-weight: 600;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
}

.overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 101%;
  background-color: rgba(125, 159, 203, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-btn {
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
}

.buy-btn:hover {
  color: #fff;
  background-color: rgb(125, 159, 203);
  transition: all ease 0.3s;
}

.overlay {
  visibility: hidden;
}

.box:hover .overlay {
  visibility: visible;
  animation: fade 0.5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slider {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reco-title {
  padding-top: 10vh;
  /* padding-bottom: 5vh; */
  font-size: 5vmax;
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-decoration: underline;
  animation: fade 3s ease-in-out;
  text-transform: uppercase;
}
