:root {
  --rich-black-fogra-29: #0d1b2aff;
  --oxford-blue: #1b263bff;
  --bdazzled-blue: #415a77ff;
  --shadow-blue: #778da9ff;
  --platinum: #e0e1ddff;
  --gray: #6c757d;
  --light-gray: #dad6d6;
}

html {
  background-color: var(--platinum);
}

.title {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vmax;
  font-family: "Poppins", sans-serif;
  background-color: var(--shadow-blue);
  color: var(--rich-black-fogra-29);
  position: relative;
}

.allratings {
  background-color: var(--light-gray);
  color: var(--rich-black-fogra-29);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rates {
  position: relative;
  width: 80%;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 1.2rem;
  background: var(--platinum);
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(00, 0, 0, 0.5),
    -0.2rem -0.2rem 0.4rem var(--platinum);
  gap: 2rem;
}

.stars {
  font-size: 2vmax;
}

.username {
  padding-top: 1vh;
  font-size: 3vmax;
  color: var(--rich-black-fogra-29);
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
}

.review {
  font-family: "Poppins", sans-serif;
  font-size: 1.25vmax;
  padding: 1vh 0;
  width: 75vw;
}

.delete {
  position: absolute;
  right: 5vw;
  top: 2vh;
  font-size: 3vmax;
  color: var(--rich-black-fogra-29);
}

.delete:hover {
  color: #f00;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.popup .content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 50vmin;
  height: 50vmin;
  z-index: 2;
  text-align: center;
  padding: 20px;
  padding-top: 1%;
  box-sizing: border-box;
}

.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 3vh;
  height: 3vh;
  background: #222;
  color: #fff;
  font-size: 3vh;
  font-family: "Quicksand", sans-serif;
  line-height: 3vh;
  text-align: center;
  border-radius: 50%;
}

.popup.active .overlay {
  display: block;
}

.text {
  padding-top: 15vh;
  font-size: 3vmin;
  font-family: "Poppins", sans-serif;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.form {
  padding-top: 2vh;
}

.submitbutton {
  color: var(--platinum);
  background-color: var(--oxford-blue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 1vmax;
  padding: 2%;
  font-family: "Poppins", sans-serif;
  transition: 0.5s;
}

.submitbutton:hover {
  color: var(--oxford-blue);
  background-color: var(--platinum);
  transition: 0.5s;
}

.write {
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2vmax;
  text-transform: uppercase;
  background-image: radial-gradient(
    ellipse farthest-corner at center top,
    #40434e 0%,
    #c9c5c5 100%
  );
}

.write a {
  padding: 0.5vh 0;
}

.write a button {
  height: 12vh;
  width: 20vh;
  background: var(--rich-black-fogra-29);
  border: 2px solid var(--platinum);
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  padding: 1%;
  font-weight: 500;
  font-size: 0.9rem;
  position: relative;
  color: var(--platinum);
}

.write a button:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
}

.noreviews {
  height: 60vh;
  background-color: var(--light-gray);
  color: var(--rich-black-fogra-29);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
