:root {
  --rich-black-fogra-29: #0d1b2aff;
  --oxford-blue: #1b263bff;
  --bdazzled-blue: #415a77ff;
  --shadow-blue: #778da9ff;
  --platinum: #e0e1ddff;
  --gray: #6c757d;
}

.carousel-wrapper {
  padding: 2%;
  min-height: 50vh;
  display: grid;
  place-items: center;
  position: relative;
  background: var(--platinum);
  overflow: hidden;
}

.info {
  background: var(--shadow-blue);
}

.text {
  padding-top: 5vh;
  background: var(--shadow-blue);
  font-family: "Bebas Neue", sans-serif;
  padding-left: 2%;
  color: var(--platinum);
  text-align: center;
}

.checked {
  color: orange;
}
.rating span {
  padding-top: 7.5%;
  font-size: 2vmax;
}

.priceandrating {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-title {
  font-size: 7vmax;
  color: var(--rich-black-fogra-29);
  text-decoration: underline;
}

.product-price {
  font-size: 3vmax;
  color: #023e8a;
}

.product-description {
  font-family: "Poppins", sans-serif;
  font-size: 1.75vmax;
  padding: 0 5%;
}

.polygon {
  height: 10vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 35%, 0% 85%);
  background: var(--platinum);
}

.carousel-indicators .active {
  background-color: var(--bdazzled-blue);
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%415a77ff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%415a77ff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel {
  padding-top: 2vh;
}

.carousel-inner {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.carousel-item img {
  max-height: 60vh;
  object-fit: cover;
  width: 100%;
}

/* .carousel-item img {
} */

.breadcrumb-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding-bottom: 1vh;
  margin: 1rem 0 0 0;
  list-style: none;
}

.breadcrumb-list li {
  font-size: 0.5em;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.breadcrumb-list a {
  color: #000;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  display: inline-block;
  padding: 0 0.5rem;
  color: #000;
}

.grid > [class*="column-"] {
  padding: 1rem;
}
