{% extends "layout.html" %} {% block title %}Cart {% endblock %} 
{% load static %}
{% block scripts %}
<script src = "{% static 'js/cart.js' %}"></script>

{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'products' %}"> &#x2190; Continue Shopping</a>

				<br>
				<br>
				
			</div>
			
			<br>
			<form action={% url 'checkout' %}  method="post">
				{% csrf_token %}

				<ul>
					{% for product in cart_items %}
					<li><strong>Name:</strong> {{ product.product.name }}</li>
					<li><strong>Price of each:</strong> {{ product.product.price }}</li>
					<li><strong>Quantity:</strong> {{ product.quant }}</li>
					<li><strong>Inventory:</strong> {{ product.product.inventory }}</li>
					<input type="number" id="{{ product.product.id }}" name="{{ product.product.name }}" value = "{{ product.quant }}" min="0" max="100">
					{% endfor %}
				</ul>
				
				<table class="table">
					<tr>
						<th>Quantity and Total price will be calculated on the next page!</th>
						<th>
							<input type="submit" value="Checkout">
						</th>
					</tr>
				</table>

			</form>
      		
			</div>
		</div>
	</div>
{% endblock content %}