{% extends "layout.html" %} {% block title %}{{ search }} - Cart {% endblock %} 
{% load static %}
{% block scripts %}<script src = "{% static 'js/cart.js' %}"></script>{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">

				<a  class="btn btn-outline-dark" href="{% url 'products' %}"> &#x2190; Continue Shopping</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5>Items: <strong>5</strong></h5></th>
						<th><h5>Total:<strong> $100</strong></h5></th>
						<th>
							<a style="float:right; margin:5px;" class="btn btn-success" >Checkout</a>
						</th>
					</tr>
				</table>

			</div>

			<br>
			<ul>
				{% for product in cart_items %}
				<li><strong>Name:</strong> {{ product.product.name }}</li>
				<li><strong>Description:</strong> {{ product.product.description }}</li>
				<li><strong>Quantity:</strong> {{ product.quant }}</li>
				{% endfor %}
			</ul>

      		
			</div>
		</div>
	</div>
{% endblock content %}