{% extends "layout.html" %} {% block title %}Index{% endblock %} 
{% load static %}
{% load socialaccount %}

{% block styles %}
<link rel='stylesheet' href="{% static 'css/style-index.css' %}">
{% endblock %}

{%block content %}
<!-- <h1>My Google OAuth Project </h1>
{% if user.is_authenticated %}
  <p>Welcome, You are logged in as {{ user.username }}</p>
{% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %} -->
<div class="hero">
  <div class="info">
    <p class="title">Smellology</p>
    <a href = "{% url 'products'%}"><button>Shop</button></a>
    <!-- <div class="desc">Your one-stop shop to buy any item must have items for your wardrobe. Shop through multiple athleisure options to find the right fit for you.</div> -->
  </div>
</div>

<div class="about-wrap">
  <div class="about-section">
    <div class="inner-container">
        <h1>About Us</h1>
        <p class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit ducimus, enim inventore earum, eligendi nostrum pariatur necessitatibus eius dicta a voluptates sit deleniti autem error eos totam nisi neque voluptates sit deleniti autem error eos totam nisi neque.
        </p>
    </div>
</div>
</div>

<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="container-general">
        <div class="gallery-wrap wrap-effect-1">
          <div class="item">
            <a href = "#"><button class = "button">Shop Men</button></a>
          </div>
          <div class="item">
            <a href = "#"><button class = "button">Shop Women</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
