{% extends "layout.html" %} {% block title %}Index{% endblock %} 
{% load static %}
{% load socialaccount %}

{% block styles %}
<link rel='stylesheet' href="{% static 'css/style-index.css' %}">
{% endblock %}

{%block content %}
<!-- <h1>My Google OAuth Project </h1>
{% if user.is_authenticated %}
  <p>Welcome, You are logged in as {{ user.username }}</p>
{% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %} -->
<div class="hero">
  <div class="info">
    <p class="title">Amazoff</p>
    <a href = "{% url 'products'%}"><button>Shop</button></a>
    <!-- <div class="desc">Your one-stop shop to buy any item must have items for your wardrobe. Shop through multiple athleisure options to find the right fit for you.</div> -->
  </div>
</div>


{% endblock %}
