{% extends "layout.html" %} {% block title %}Index{% endblock %} 
{% load static %}
{% load socialaccount %}

{% block styles %}
<link rel='stylesheet' href="{% static 'css/style-index.css' %}">
{% endblock %}

{%block content %}
<!-- <h1>My Google OAuth Project </h1>
{% if user.is_authenticated %}
  <p>Welcome, You are logged in as {{ user.username }}</p>
{% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %} -->
<div class="hero">
  <div class="info">
    <p class="title">Smellology</p>
    <a href = "{% url 'products'%}"><button>Shop</button></a>
    <!-- <div class="desc">Your one-stop shop to buy any item must have items for your wardrobe. Shop through multiple athleisure options to find the right fit for you.</div> -->
  </div>
</div>

<div class="about-wrap">
  <div class="about-section">
    <div class="inner-container">
        <h1>About Us</h1>
        <p class="text">
          Smellology is a boutique fragrance website that stocks all the latest designer fragrances. We believe that your fragrance is the most powerful weapon in your arsenal if you want to create a lasting impression wherever you go. We offer great deals on our products due to our numerous tie-ups. All orders on Smellology are shipped through Payment On delivery which enables the customer to try the fragrance in person before committing to it! We hope you have a fabulous experience on our website and hope to see you again :)
        </p>
    </div>
</div>
</div>

<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="container-general">
        <div class="gallery-wrap wrap-effect-1">
          <div class="item">
            <a href = "/products/?gender=men"><button class = "button">Shop Men</button></a>
          </div>
          <div class="item">
            <a href = "/products/?gender=women"><button class = "button">Shop Women</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
