{% extends "layout.html" %} {% block title %}Ordered!{% endblock %} 
{% load static %}
{% load socialaccount %}

{% block scripts %}
{% endblock %}
{% block styles %}
<style>

    .noitems{
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items:center;
      font-family: 'Poppins', sans-serif;
      font-size: 2em;
      background-color: #40434e;
      color: #fff;
    }
      
      .quant{
          min-height: 30vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background:#dad6d6;
          text-align: center;
      }
      .quanttotal{
          color: #000;
          font-size: 1em;
          font-family: 'Poppins', sans-serif;
          font-weight: 600;
          padding-bottom: 5vh;
      }
      .button {
      display: inline-block;
      padding: 12px 24px;
      border: 1px solid #4f4f4f;
      border-radius: 4px;
      transition: all 0.2s ease-in;
      position: relative;
      overflow: hidden;
      font-size: 1.5em;
      color: black;
      z-index: 1;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      }
  
      .button:before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%) scaleY(1) scaleX(1.25);
      top: 100%;
      width: 140%;
      height: 180%;
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 50%;
      display: block;
      transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
      z-index: -1;
      }
  
      .button:after {
      content: "";
      position: absolute;
      left: 55%;
      transform: translateX(-50%) scaleY(1) scaleX(1.45);
      top: 180%;
      width: 160%;
      height: 190%;
      background-color: #778da9ff;
      border-radius: 50%;
      display: block;
      transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
      z-index: -1;
      }
  
      .button:hover {
      color: #ffffff;
      border: 1px solid #778da9ff;
      }
  
      .button:hover:before {
      top: -35%;
      background-color: #778da9ff;
      transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
      }
  
      .button:hover:after {
      top: -45%;
      background-color: #778da9ff;
      transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
      }
  
      .title {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vmax;
    font-family: "Poppins", sans-serif;
    background-color: #dad6d6;
    color: #000;
    position: relative;
    text-transform: uppercase;
    font-weight: 800;
  }
  
  .addytitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vmax;
    font-family: "Poppins", sans-serif;
    background-color: #dad6d6;
    color: #000;
    position: relative;
    text-transform: none;
    font-weight: 500;
  }
  
  .cart-table{
      background: #343a40;
  }
  
  .cart-table table{
      min-height: 30vh;
  }
  </style>
{% endblock %}

{% block content %} 

<div class="title">
    <span style="text-transform: capitalize;">Thank you for placing your order {{user.first_name}}</span>
</div>

<div style="background:#353a3f; color:white; margin:0px; font-family: 'Poppins', sans-serif; padding: 2vw;">
<h4>Your shipment consisting of: </h4>
<ol>
    {% for product in cart_items %}
    <li>{{ product.product.name }} - {{product.quant}} pcs</li>
    {% endfor %}
</ol> 


<p>Will be delivered at your selected address, {{shippingaddress}}, in <a id="days"></a> days </p>
<script>
    document.getElementById("days").innerHTML = 3 + Math.floor(Math.random() * 4);
</script>

<p>Selected payment method: {{paymentmethod}}.</p>
</div>

<div class="quant">
    <button class ="button" href="{% url 'user' %}">View Order History</button>
    <button style="margin-top: 2vh;" class ="button" href="{% url 'products' %}">Continue Shopping</button>
</div>

<!-- <a  class="btn btn-outline-dark" href="{% url 'user' %}"> &#x2190; View Order History</a>
<a  class="btn btn-outline-dark" href="{% url 'products' %}"> &#x2190; Continue Shopping</a> -->
{% endblock %}