{% extends "layout.html" %} {% block title %}{{ search }} - Smellology Search {% endblock %} 
{% load static %}
{% block styles %}
<link rel='stylesheet' href="{% static 'css/style-products.css' %}">
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.2/vanilla-tilt.js" integrity="sha512-5RPueBRwDHxZ362heK/fya6Azw6ayHtn7nTqZnIoGFjiXdGAEvAjKco/FvzpTEIbfJI2Qxirl0/g21qizV/a/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script>document.addEventListener("DOMContentLoaded", function(){
  var searched = document.getElementById('searched').innerText;
  document.getElementById("sort_searched_form").value = searched;});</script> -->
<script>document.addEventListener("DOMContentLoaded", function(){
  var searched = document.getElementById('searched').innerText;
  document.getElementById("filter_searched_form").value = searched;});</script>
<style>
.dropdown{
  padding-left: 2vw;
  margin: 0.5vh 0vh;
}
  </style>
{% endblock %}
{% block content %} 


<div class="wrapperproducts">

{% if search %}
  <span id="searched" style="display: none;">{{ search }}</span>

  <div class="product-title">
    
  Showing results for "{{ search }}"
  </div>

  <form action={% url 'product_search' %} method="POST">
    {% csrf_token %}
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="sortbutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by
      </button>
      <div class="dropdown-menu" aria-labelledby="sortbutton">
        {{ filter_form.name }}
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="filterpricebutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter by price
      </button>
      <div class="dropdown-menu" aria-labelledby="filterpricebutton">
        {{ filter_form.price }}
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="filtergenderbutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter by gender
      </button>
      <div class="dropdown-menu" aria-labelledby="filtergenderbutton">
        {{ filter_form.gender }}
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="filtertypebutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter by types
      </button>
      <div class="dropdown-menu" aria-labelledby="filtertypesbutton">
        {{ filter_form.types }}
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="filterusebutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter by uses
      </button>
      <div class="dropdown-menu" aria-labelledby="filterusebutton">
        {{ filter_form.use }}
      </div>
    </div>
    <input type = "hidden" id = "filter_searched_form" name = "searched" value = "">
    <input type="submit" style= "margin-left: 2vw" value="Save filter settings">
  </form>
  <br>
  <hr>

{% if product %} 
<main>
  <section class = "cards">
{% for product in product %}
{% if product.inventory <= 0 %}
      <div class= "card outofstock">
    {% else %}
      <div class="card">
    {% endif %}
    <div class="card_image-container">
        <img src = "{{ product.picture1.url }}">
    </div>
    <div class="card_content">
        <p class = "card_title text--medium">
            {{ product.name }}
        </p>
        <div class="card_info">
          {% if user.is_authenticated %}
          {% if product.name in template_wishlistItems %}
            <button style="background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;" type="submit" data-toggle="popover" data-content = "Click to remove from wishlist." data-trigger="hover" class = "wishlist" data-product="{{product.id}}" data-action="remove" id = "button-{{product.id}}"><span style = "font-size:2em; color: red;">&ensp;<i class="bi bi-heart-fill" id = "{{product.id}}"></i></span></button>
            <!-- <a href = "{% url 'review' product_id=product.id %}" data-toggle="popover" title="Like this Item?" data-content = "Click to add to wishlist." data-trigger="hover" class = "wishlist" ><span style = "font-size:2em; color: red;">&ensp;<i class="bi bi-heart"></i></span></a> -->
          </form>
          {% else %}
            <button style="background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;" type="submit" data-toggle="popover" data-content = "Click to add to wishlist." data-trigger="hover" class = "wishlist" data-product="{{product.id}}" data-action="add" id = "button-{{product.id}}"><span style = "font-size:2em; color: red;">&ensp;<i class="bi bi-heart" id = "{{product.id}}"></i></span></button>
            <!-- <a href = "{% url 'review' product_id=product.id %}" data-toggle="popover" title="Like this Item?" data-content = "Click to add to wishlist." data-trigger="hover" class = "wishlist" ><span style = "font-size:2em; color: red;">&ensp;<i class="bi bi-heart"></i></span></a> -->
          {% endif %}
          {% endif %}
            <p class = "text--medium">₹{{ product.price }}</p>
            <a href = "{% url 'product_page' product_id=product.id %}"><button class = "card_button text-medium">View</button></a>
        </div>
    </div>
</div>

{% endfor %} 
</section>
</main>


{% else %}
<div style = "height: 50vh; width: 100%; display: grid; place-items: center;">
<h1 style = "text-align:center; padding: 2%; color: var(--platinum);">No results found, try using different keywords!</h1>
</div>
{% endif %} 

{% else %}
<div style = "height: 100vh; width: 100%; display: grid; place-items: center;">
<h1 style = "text-align:center; padding: 2%; color: var(--platinum); font-size: 5em;">
  Nothing has been searched for. Please try again.
</h1>
</div>
{% endif %} 

</div>

<script type="text/javascript">
  VanillaTilt.init(document.querySelectorAll(".card"), {
  max: 10,
  speed: 400,
  glare: true,
  "max-glare": 0.5,
});
</script>
{% endblock %}
