{% extends "layout.html" %} 
{% load static %}
{% block title %}{{ product.name}}{% endblock %} 
{% block styles %}
<link rel='stylesheet' href="{% static 'css/style-productpage.css' %}">
{% endblock %}

{% block scripts %}
{% endblock %}

{%block content %}
<!-- Make a flex box with right and left parts 
flex wrap to column layout -->

<div class="container">
        
    <div class="card-container">
        <div class="image-area">
                <div class="floating-div">
                <div class="image-1"><img class = "demo-trigger" src="{{product.picture1.url}}" alt="{{product.name}}" data-zoom='{{product.picture1.url}}' ></div>
                </div>

        </div>
        <div class="text-area">
            <div class="heading-area">
                <h2>{{product.name}}</h2>
                {% for category in product.category.all %}
                    <h4><strong>{{category}}</strong></h4>
                {% endfor %}
                {% for tag in product.tags.all %}
                    {% for subcategory in product.sub_categories.all %}
                        <h5>{{tag}} - {{ subcategory }}</h5>
                    {% endfor %}
                {% endfor %}
            </div>


                <p class="paragraph-area">
                    {{product.description}}
                </p>

                
                <div class="ratings">
                    {% if ratingsCount == 0 %}
                         <p style = "font-size:1rem;"><strong>No Ratings.</strong></p>
                    {% else %}
                    {% for rate in rating %}
                        {% if rate < 0 %}
                            <span class="fa fa-star"></span>
                        {% else %}
                            <span class="fa fa-star checked"></span>
                        {% endif %}
                    {% endfor %}
                    <a href = "{% url 'review' product_id=product.id %}">( {{ratingsCount}} )</a> 
                    {% endif %}
                </div>
            <div class="price-and-buy">
                <h2 class="price-1">₹{{product.price}}</h2>
                <button data-product="{{product.id}}" data-action="add" class="update-cart">BUY NOW</button>
            </div>
        </div>
        <div class="wishlist">
          {% if product.name in template_wishlistItems %}
          <form action="" method="post">
            {% csrf_token %}
            <button style="background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;" type="submit" data-toggle="popover" title="Not feeling it?" data-content = "Click to remove from wishlist." data-trigger="hover" class = "wishlist" data-product="{{product.id}}" data-action="remove"><span style = "font-size:2em; color: red;">&ensp;<i class="bi bi-heart-fill"></i></span></button>
            <!-- <a href = "{% url 'review' product_id=product.id %}" data-toggle="popover" title="Like this Item?" data-content = "Click to add to wishlist." data-trigger="hover" class = "wishlist" ><span style = "font-size:2em; color: red;">&ensp;<i class="bi bi-heart"></i></span></a> -->
          </form>
          {% else %}
          <form action="" method="post">
            {% csrf_token %}
            <button style="background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;" type="submit" data-toggle="popover" title="Like this item?" data-content = "Click to add to wishlist." data-trigger="hover" class = "wishlist" data-product="{{product.id}}" data-action="add"><span style = "font-size:2em; color: red;">&ensp;<i class="bi bi-heart"></i></span></button>
            <!-- <a href = "{% url 'review' product_id=product.id %}" data-toggle="popover" title="Like this Item?" data-content = "Click to add to wishlist." data-trigger="hover" class = "wishlist" ><span style = "font-size:2em; color: red;">&ensp;<i class="bi bi-heart"></i></span></a> -->
          </form>
          {% endif %}
        </div>
    </div>
    
</div>




<h1> {{ recommended.0.name }} </h1>
<h1> {{ recommended.1.name }} </h1>

<script>
var demoTrigger = document.querySelector('.demo-trigger');
var paneContainer = document.querySelector('.image-area');

new Drift(demoTrigger, {
  paneContainer: paneContainer,
  inlinePane: false,
});
</script>


{% endblock %}
