{% extends "layout.html" %} {% block title %}{{ search }} - Amazoff Search {% endblock %} 
{% load static %}
{% block styles %}
<link rel='stylesheet' href="{% static 'css/style-products.css' %}">
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.2/vanilla-tilt.js" integrity="sha512-5RPueBRwDHxZ362heK/fya6Azw6ayHtn7nTqZnIoGFjiXdGAEvAjKco/FvzpTEIbfJI2Qxirl0/g21qizV/a/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>document.addEventListener("DOMContentLoaded", function(){
  var searched = document.getElementById('searched').innerText;
  document.getElementById("searched_form").value = searched;});</script>
{% endblock %}
{% block content %} 


<div class="wrapperproducts">

{% if search %}
  <span id="searched" style="display: none;">{{ search }}</span>

  <div class="product-title">
    
  Showing results for "{{ search }}"
  </div>

  <form action={% url 'product_search' %} method="POST">
    {% csrf_token %}
    {{ form }}
    <input type = "hidden" id = "searched_form" name = "searched" value = "">
    <input type="submit" value="Save 'sort-by' settings">
  </form>
  <br>
  <hr>

{% if product %} 
<main>
  <section class = "cards">
{% for product in product %}
  <div class="card">
    <div class="card_image-container">
      <img src = "{{ product.picture1.url }}">
    </div>
    <div class="card_content">
        <p class = "card_title text--medium">
          {{ product.name }}
        </p>
        <div class="card_info">
          <p class = "text--medium">₹{{ product.price }}</p>
          <a href = "{% url 'product_page' product_id=product.id %}"><button class = "card_button text-medium">View</button></a>
        </div>
  </div>
</div>

{% endfor %} 
</section>
</main>


{% else %}
<div style = "height: 50vh; width: 100%; display: grid; place-items: center;">
<h1 style = "text-align:center; padding: 2%; color: var(--platinum);">No results found, try using different keywords!</h1>
</div>
{% endif %} 

{% else %}
<div style = "height: 100vh; width: 100%; display: grid; place-items: center;">
<h1 style = "text-align:center; padding: 2%; color: var(--platinum); font-size: 5em;">
  Nothing has been searched for. Please try again.
</h1>
</div>
{% endif %} 

</div>

<script type="text/javascript">
  VanillaTilt.init(document.querySelectorAll(".card"), {
  max: 10,
  speed: 400,
  glare: true,
  "max-glare": 0.5,
});
</script>
{% endblock %}
