{% extends "layout.html" %}
{% load static %}
{% block title %}Products{% endblock %}
{% block styles %}
<link rel='stylesheet' href="{% static 'css/style-products.css' %}">
<style>
  .dropdown1{
    padding-left: 2vw;
    margin: 0.5vh 0vh;
  }
    </style>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.2/vanilla-tilt.js" integrity="sha512-5RPueBRwDHxZ362heK/fya6Azw6ayHtn7nTqZnIoGFjiXdGAEvAjKco/FvzpTEIbfJI2Qxirl0/g21qizV/a/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
<!-- General product page-->
{%block content %}

<div class="wrapperproducts">

<div class="product-title">
  PRODUCTS 
</div>

<main>
  <h1 style = "padding-left: 2vw; padding-bottom: 1vh; color: #fff; font-family: 'Poppins', sans-serif; text-decoration: underline;">Sort and Filter</h1>
  <hr>
  <form action={% url 'products' %} method="POST">
    {% csrf_token %}
    <div class="dropdown1">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="sortbutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort by
      </button>
      <div class="dropdown-menu" aria-labelledby="sortbutton">
        {{ filter_form.name }}
      </div>
    </div>
    <div class="dropdown1">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="filterpricebutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter by price
      </button>
      <div class="dropdown-menu" aria-labelledby="filterpricebutton">
        {{ filter_form.price }}
      </div>
    </div>
    <div class="dropdown1">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="filtergenderbutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter by gender
      </button>
      <div class="dropdown-menu" aria-labelledby="filtergenderbutton">
        {{ filter_form.gender }}
      </div>
    </div>
    <div class="dropdown1">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="filtertypebutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter by types
      </button>
      <div class="dropdown-menu" aria-labelledby="filtertypesbutton">
        {{ filter_form.types }}
      </div>
    </div>
    <div class="dropdown1">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="filterusebutton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter by uses
      </button>
      <div class="dropdown-menu" aria-labelledby="filterusebutton">
        {{ filter_form.use }}
      </div>
    </div>
    <button type="submit" style= "margin-left: 2vw; margin-top: 1vh;" class = "button">Save settings</button>
  </form>

  <br>
  <hr>
  <section class = "cards">
    <!-- Rendering every product and data -->
    {% for product in products %}
    {% if product.inventory <= 0 %}
      <div class= "card outofstock">
    {% else %}
      <div class="card">
    {% endif %}
        <div class="card_image-container">
            <img src = "{{ product.picture1.url }}">
        </div>
        <div class="card_content">
            <p class = "card_title text--medium">
                {{ product.name }}
            </p>
            <div class="card_info">
              {% if user.is_authenticated %}
          {% if product.name in template_wishlistItems %}
            <button style="background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;" type="submit" data-toggle="popover" data-content = "Click to remove from wishlist." data-trigger="hover" class = "wishlist" data-product="{{product.id}}" data-action="remove" id = "button-{{product.id}}"><span style = "font-size:2em; color: red;">&ensp;<i class="bi bi-heart-fill" id = "{{product.id}}"></i></span></button>
          </form>
          {% else %}
            <button style="background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;" type="submit" data-toggle="popover" data-content = "Click to add to wishlist." data-trigger="hover" class = "wishlist" data-product="{{product.id}}" data-action="add" id = "button-{{product.id}}"><span style = "font-size:2em; color: red;">&ensp;<i class="bi bi-heart" id = "{{product.id}}"></i></span></button>
          {% endif %}
          {% endif %}
                <p class = "text--medium">₹{{ product.price }}</p>
                <a href = "{% url 'product_page' product_id=product.id %}"><button class = "card_button text-medium">View</button></a>
            </div>
        </div>
    </div>
    </ul>
    {% endfor %} 
  </section>
</main>

</div>

<script type="text/javascript">
  VanillaTilt.init(document.querySelectorAll(".card"), {
  max: 10,
  speed: 400,
  glare: true,
  "max-glare": 0.2,
});
</script>
{% endblock %}
