{% extends "layout.html" %} 
{% load static %}
{% block title %}{{ product.name}}{% endblock %} 
{% block styles %}
<link rel='stylesheet' href="{% static 'css/style-productpage.css' %}">
{% endblock %}

{% block scripts %}
{% endblock %}

{%block content %}
<!-- Make a flex box with right and left parts 
flex wrap to column layout -->

<div class="container">
        
    <div class="card-container">
        <div class="image-area">
                <div class="floating-div">
                <div class="image-1"><img src="{{product.picture1.url}}" alt="{{product.name}}" ></div>
                </div>

        </div>
        <div class="text-area">
            <div class="heading-area">
                <h2>{{product.name}}</h2>
                {% for category in product.category.all %}
                    <h4><strong>{{category}}</strong></h4>
                {% endfor %}
                {% for tag in product.tags.all %}
                    {% for subcategory in product.sub_categories.all %}
                        <h5>{{tag}} - {{ subcategory }}</h5>
                    {% endfor %}
                {% endfor %}
            </div>

                <p class="paragraph-area">
                    {{product.description}}
                </p>

                
                <div class="ratings">
                    {% if ratingsCount == 0 %}
                         <p style = "font-size:1rem;"><strong>No Ratings.</strong></p>
                    {% else %}
                    {% for rate in rating %}
                        {% if rate < 0 %}
                            <span class="fa fa-star"></span>
                        {% else %}
                            <span class="fa fa-star checked"></span>
                        {% endif %}
                    {% endfor %}
                    <a href = "{% url 'review' product_id=product.id %}">( {{ratingsCount}} )</a> 
                    {% endif %}
                </div>
            <div class="price-and-buy">
                <h2 class="price-1">₹{{product.price}}</h2>
                <button data-product="{{product.id}}" data-action="add" class="update-cart">BUY NOW</button>
            </div>
        </div>
        <div class="wishlist">
            <a href = "{% url 'review' product_id=product.id %}" data-toggle="popover" title="Like this Item?" data-content = "Click to add to wishlist." data-trigger="hover" class = "wishlist" ><span style = " color: red;">&ensp;<i class="bi bi-heart-fill"></i></span></a>
        </div>
    </div>
    
</div>



{% endblock %}
