{% extends "layout.html" %}
{% load static %}
{% block title %}Products{% endblock %}
{% block styles %}
<link rel='stylesheet' href="{% static 'css/style-products.css' %}">
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.2/vanilla-tilt.js" integrity="sha512-5RPueBRwDHxZ362heK/fya6Azw6ayHtn7nTqZnIoGFjiXdGAEvAjKco/FvzpTEIbfJI2Qxirl0/g21qizV/a/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
<!-- General product page-->
{%block content %}

<div class="wrapperproducts">

<div class="product-title">
  PRODUCTS
</div>

<main>
  <section class = "cards">
    <!-- Rendering every product and data -->
    {% for product in products %}
      <div class="card">
        <div class="card_image-container">
            <img src = "{{ product.picture1.url }}">
        </div>
        <div class="card_content">
            <p class = "card_title text--medium">
                {{ product.name }}
            </p>
            <div class="card_info">
                <p class = "text--medium">₹{{ product.price }}</p>
                <a href = "{% url 'product_page' product_id=product.id %}"><button class = "card_button text-medium">View</button></a>
            </div>
        </div>
    </div>
    </ul>
    {% endfor %} 
  </section>
</main>

</div>

<script type="text/javascript">
  VanillaTilt.init(document.querySelectorAll(".card"), {
  max: 10,
  speed: 400,
  glare: true,
  "max-glare": 0.2,
});
</script>
{% endblock %}
