{% extends "layout.html" %} {% block title %}Reviews{% endblock %}
{% block styles %}

{% endblock %}
{% block content %}

<!-- <h1 type="hidden">{{ product_id }}</h1> -->

{% if ratings %}
{% for rating in ratings %}
<!-- first the stars
then user name
then if there is description, description -->
{% for i in checker %}
    {% if forloop.counter0 < rating.rating %}
    <span class="fa fa-star" style="color: orange;"></span>
{% else %}
    <span class="fa fa-star"></span>
{% endif %}
{% endfor %}
<h3>{{rating.user}}</h3>
{% if rating.review %}
    <h6>{{rating.review}}</h6>
{% endif %}
<br>
<br>
{% endfor %}

{% else %}
<h3>No reviews yet, be the first to write a review!</h3>
<h5><a href = "{% url 'newReview' product_id=product_id %}">Write your own review for this product.</a></h5>
<!-- should go to review form page -->

{% endif %}
{% endblock %}