{% extends "layout.html" %} {% block title %}Your Account{% endblock %}
{%load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/style-user.css' %}">
<link rel="stylesheet" href="{% static 'css/style-rating.css' %}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}
{%block content%}
<div class="hello">Hello,&nbsp;{{user.first_name}}
<div class="cart">
    <a href="{% url 'cart' %}"><i class="bi bi-cart-check-fill"></i>&nbsp;&nbsp; View Your Cart</a>
    <a href="{% url 'wishlist' %}"><i class="bi bi-heart-fill" style = "color: red;"></i>&nbsp;&nbsp; View Your Wishlist</a>
</div>
</div>
<div class="allratings">

  
    <!-- <button onclick="myFunction('Demo1')">Address</button>
    <div id="Demo1" class="w3-container w3-hide">
        <h2>Your saved addresses are:</h2>
        {% for address in addresses %}
            <ul>
            <li>{{ address.name }}</li>
            </ul>
        {% endfor %}
        <a href="{% url 'newAddress' %}"><button type="button">Add a new address</button></a>
    </div> -->


{% if addresses %}
    <h3 style="text-align:left; padding-top:5vh;
    font-size: 3vmax;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;">Your saved addresses are:</h3>
    {% for address in addresses %}
    <div class="rates">
      <div class="username" style="font-size:2em;">{{address}}</div>
      <div class = "review" style="font-size:1em;">{{address.addressLine1}}</div>
    </div>
    <br>
    {% endfor %}
    <a href="{% url 'newAddress' %}"><button type="button" class="btn btn-primary">Add new address</button></a>
    <br>
    {% else %}
    <h3 style="text-align:left; padding-top:5vh;
    font-size: 3vmax;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;">No saved addresses</h3>
     <a href="{% url 'newAddress' %}"><button type="button" class="btn btn-primary">Add new address</button></a>
     <br>
    {% endif %}


    {% if orderHistory %}
    <h3 style="text-align:left; padding-top:5vh;
    font-size: 3vmax;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;">Your past orders are:</h3>
    {% for order in orderHistory %}
    <div class="rates">
      {% for eachorder in order %}
      {% if forloop.counter0 == 0 %}
      <div class="username" style="font-size:2em;">{{ eachorder.orderTime }}</div>
      <div class = "review" style="font-size:1.25em;">Ordered to - {{eachorder.address}}</div>
      <hr>
      <div class = "review" style="font-size:1.25em;"><strong>₹{{eachorder.order.calcCartTotal}}</strong></div>
      <div class = "review" style="font-size:1.25em;">Items in order - <strong>{{eachorder.order.calcCartQuant}}</strong></div>
      <hr>
      {% else %}
      <div class = "review" style="font-size:1em; text-decoration: underline; padding: 0.75vh 0;"><strong>Ordered Items</strong></div>
      {% for item in eachorder %}
      <div class = "review" style="font-size:1em;"><strong>{{ item.product }}</strong> - {{ item.quant }}</div>
      {% endfor %}
      {% endif %}
      {% endfor %}
    </div>
    <br>
    {% endfor %}
    {% else %}
    <h3 style="text-align:left; padding-top:5vh;
    font-size: 3vmax;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;">No Past Orders</h3>
    <br>
    {% endif %}
  
    <!-- <button onclick="myFunction('Demo2')" >Order History</button>
    <div id="Demo2" class="w3-container w3-hide">
      {% for order in orderHistory %}
      {% for eachorder in order %}
      {% if forloop.counter0 == 0 %}
        <h3>{{ eachorder }}</h3>
      {% else %}
          {% for item in eachorder %}
            <h5>{{ item.product }}</h5>
            <h5>{{ item.quant }}</h5>
          {% endfor %}
      {% endif %}
        <h5> {{ eachorder.cartValue }}</h5>
      {% endfor %}
      {% endfor %}
    </div>
    <br> -->
    
    <!-- <button onclick="myFunction('Demo3')" >Reviews</button>
    <div id="Demo3" class="w3-container w3-hide">
        {% if reviews %}
            {% for review in reviews %}
            <ul>
                <li>
                    <h3>{{ review.product.name}}</h3>
                    <h4>{{ review.review }}</h4>
                </li>
                </ul>
            {% endfor %}
        {% else %}
            <p>You have not written any reviews yet!</p>
        {% endif %}
        
    </div> -->


    {% if reviews %}
    <h3 style="text-align:left; padding-top:5vh;
    font-size: 3vmax;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;">Your past reviews are:</h3>
    {% for review in reviews %}
    <div class="rates">
      <div class="username" style="font-size:2em;">{{review.product.name}}</div>
      <div class = "review" style="font-size:1em;">{{review.review}}</div>
      <div class="stars">
        {% for i in checker %}
            {% if forloop.counter0 < review.rating %}
            <span class="fa fa-star" style="color: orange; font-size:0.5em;"></span>
        {% else %}
            <span class="fa fa-star" style = 'font-size:0.5em;'></span>
        {% endif %}
        {% endfor %}
        </div>
    </div>
    <br>
    {% endfor %}
    {% else %}
    <h3 style="text-align:left; padding-top:5vh;
    font-size: 3vmax;
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;">No Past Reviews</h3>
  {% endif %}
    <hr>
    </div>
    
    <!-- <script>
    function myFunction(id) {
      var x = document.getElementById(id);
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }
    </script> -->
{% endblock %}