{% extends "layout.html" %} {% block title %}{{user.name}} Wishlist{% endblock %} 
{% load static %}
{% block scripts %}
<link rel='stylesheet' href="{% static 'css/style-products.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.2/vanilla-tilt.js" integrity="sha512-5RPueBRwDHxZ362heK/fya6Azw6ayHtn7nTqZnIoGFjiXdGAEvAjKco/FvzpTEIbfJI2Qxirl0/g21qizV/a/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src = "{% static 'js/wishlist.js' %}"></script>
<style>
  .noreviews {
  height: 60vh;
  background-color: var(--light-gray);
  color: var(--rich-black-fogra-29);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rates {
  position: relative;
  width: 80%;
  padding: 1rem 1rem 2rem 1rem;
  border-radius: 1.2rem;
  background: var(--platinum);
  box-shadow: 0.3rem 0.3rem 2rem rgba(00, 0, 0, 1);
  gap: 2rem;
}

</style>
{% endblock %}
{% block content %}
<div class="wrapperproducts">

  <div class="product-title">
    YOUR WISHLIST
  </div>
  
  {% if not wishlist_items %}
  <div class = "noreviews"><div class="rates" style="font-size:2em; font-family:'Poppins', sans-serif; font-weight:bold; display:flex; justify-content:center; align-items:center; padding-top:3vh;">No items in wishlist. <a href = "{% url 'products' %}">Continue Shopping?</a></div></div>
  {% else %}
  <main>
    <section class = "cards">
      <!-- Rendering every product and data -->
      {% for product in wishlist_items %}
      {% if product.product.inventory <= 0 %}
      <div class= "card outofstock">
        {% else %}
      <div class="card">
        {% endif %}
          <div class="card_image-container">
              <img src = "{{ product.product.picture1.url }}">
          </div>
          <div class="card_content">
              <p class = "card_title text--medium">
                  {{ product.product.name }}
              </p>
              <div class="card_info">
                {% if user.is_authenticated %}
            {% if product.product.name in template_wishlistItems %}
              <button style="background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;" type="submit" data-toggle="popover" data-content = "Click to remove from wishlist." data-trigger="hover" class = "wishlist" data-product="{{product.product.id}}" data-action="remove" id = "button-{{product.product.id}}"><span style = "font-size:2em; color: red;">&ensp;<i class="bi bi-heart-fill" id = "{{product.product.id}}"></i></span></button>
              <!-- <a href = "{% url 'review' product_id=product.id %}" data-toggle="popover" title="Like this Item?" data-content = "Click to add to wishlist." data-trigger="hover" class = "wishlist" ><span style = "font-size:2em; color: red;">&ensp;<i class="bi bi-heart"></i></span></a> -->
            </form>
            {% else %}
              <button style="background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;" type="submit" data-toggle="popover" data-content = "Click to add to wishlist." data-trigger="hover" class = "wishlist" data-product="{{product.product.id}}" data-action="add" id = "button-{{product.product.id}}"><span style = "font-size:2em; color: red;">&ensp;<i class="bi bi-heart" id = "{{product.product.id}}"></i></span></button>
              <!-- <a href = "{% url 'review' product_id=product.id %}" data-toggle="popover" title="Like this Item?" data-content = "Click to add to wishlist." data-trigger="hover" class = "wishlist" ><span style = "font-size:2em; color: red;">&ensp;<i class="bi bi-heart"></i></span></a> -->
            {% endif %}
            {% endif %}
                  <p class = "text--medium">₹{{ product.product.price }}</p>
                  {% if product.product.inventory > 0 %}
                <button data-product="{{product.product.id}}" data-action="add" class="update-cart card_button text-medium">ADD TO CART</button>
                  {% else %}
                <a href = "{% url 'product_page' product_id=product.product.id %}"><button class = "card_button text-medium">View</button></a>
                  {% endif %}
        
              </div>
          </div>
      </div>
      </ul>
      {% endfor %} 
    </section>
  </main>
  
  </div>
  
  <script type="text/javascript">
    VanillaTilt.init(document.querySelectorAll(".card"), {
    max: 10,
    speed: 400,
    glare: true,
    "max-glare": 0.2,
  });
  </script>
  {% endif %}
{% endblock content %}